@{
    ViewData["Title"] = "Main Header";
}

<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-md-5 d-flex">
            <input name="search" class="form-control mr-sm-2" type="search" th:placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" th:text="Search">Search</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div>
                <section class="col-lg-1 col-xs-12">
                    @await Component.InvokeAsync("Cart")
                </section>
            </div>
        </div>
    </div>
</div>