<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" value="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>