<form method="get" asp-action="Index" asp-controller="Products">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            @await Component.InvokeAsync("Categories")
        </div>
        <div class="col-sm-12 col-md-4">
            @await Component.InvokeAsync("Brands")
        </div>
        <div class="col-sm-12 col-md-4">
            <h5>Search:</h5>
            <div class="row">
                <div class="col-md-8">
                    <input name="SearchFilter" class="form-control mr-sm-2 " type="search" placeholder="By name" aria-label="Search">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>