<aside>
    <h2>Results:</h2>
    <hr class="bg-info">
    <div>
        <h5 class="title">Categories:</h5>
        <p>Categories are not yet implemented</p>
    </div>
    <hr class="bg-info">
    <div>
        <h5>Brands</h5>
        <p>Brands are not implemented yet</p>
    </div>
</aside>