<aside class="mb-2">
    <h2>Results:</h2>
    <hr class="bg-info h-2">
    <form>
        <div class="w-100">
            @await Component.InvokeAsync("Categories")
        </div>
        <div class="w-100">
            @await Component.InvokeAsync("Brands")
        </div>
        <hr class="bg-info" />
        <div class="w-100">
            <button type="submit" class="btn btn-md btn-info">Filter</button>
        </div>
    </form>
</aside>