@model ICollection<ProductViewModel>

@foreach(var product in Model)
{
<div>
    <i>@product.Name, </i>
    <i class="text-success">$@product.Price</i>
    <hr />
</div>
}

<h5>Total: <i class="text-success">$@Model.Sum(p => p.Price)</i></h5>