@model CartComponentViewModel

@{
    ViewData["Title"] = "My Cart";
}

<a asp-page="/Orders/Create">
    <div class="cart-badge badge-icons pull-right">
        <i class="fa fa-shopping-cart"></i>
        <span class="badge badge-danger rounded-x">@Model.ItemsCount</span>
        <div class="badge-open">
        </div>
    </div>
</a>
